resource/pacs.008.001.13.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor on 2025 Feb 17 17:56:16, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.13" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.008.001.13">
    <xs:element name="paymentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cardType" type="CreditDebitCode"/>
        <!-- <xs:element name="description" type="Max34Text"/> -->
        <xs:element maxOccurs="1" minOccurs="0" name="transInfo" type="Max34Text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="CreditDebitCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT"/>
            <xs:enumeration value="DBIT"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Max34Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
